.create-form {
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    color: white;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-row {
    display: flex;
    gap: 55px;
    margin-bottom: 15px;
  }
  
  .form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #222;
    color: white;
    outline: none;
    width: 100%;
  }
  
  textarea {
    min-height: 100px;
    resize: vertical;
  }
  
  input::placeholder, textarea::placeholder {
    color: #aaa;
  }
  
  /* .create-btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-btn:hover {
    background-color: #e6b800;
  } */
  