.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    /* background-color: #0a0a24; */
    color: white;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 20px;
    margin-right: 20px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    margin-right: 20px;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
  }
  
  .nav a.active {
    text-decoration: underline;
    font-weight: bold;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .company-name {
    margin-right: 20px;
    font-size: 16px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .user-name {
    font-size: 16px;
  }
  
  .logout {
    font-size: 14px;
    color: gray;
    cursor: pointer;
  }
  